.place-order-button {
  background-color: #2563eb;
  color: white;
  background: linear-gradient(to right, #3b82f6, #6366f1);
}

.place-order-button:hover {
  background: white;
  color: transparent;
  box-shadow: 0 0 16px -8px #3b82f6, 0 0 16px -8px #6366f1;
}

.place-order-button:hover .place-order-button-text {
  display: block;
  color: transparent;
  background: linear-gradient(to right, #3b82f6, #6366f1);
  background-clip: text;
  font-weight: 600;
}

.place-order-button-reversed {
  background-color: white;
  color: transparent;
  box-shadow: 0 0 16px -8px #3b82f6, 0 0 16px -8px #6366f1;
}

.place-order-button-reversed .place-order-button-text {
  display: block;
  color: transparent;
  background: linear-gradient(to right, #3b82f6, #6366f1);
  background-clip: text;
  font-weight: 600;
}

.place-order-button-reversed:hover {
  background: linear-gradient(to right, #3b82f6, #6366f1);
  color: white;
  box-shadow: none;
}

.place-order-button-reversed:hover .place-order-button-text {
  display: block;
  color: transparent;
  background: white;
  background-clip: text;
  font-weight: 500;
}
